body {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 320px;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 74px;
}

.menu {
  height: fit-content;
  padding: 0px;
  margin-top: 19px;
  margin-right: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 30px;
  margin-bottom: 16px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 0px;
  margin-right: 68px;
  margin-bottom: 0px;
}

p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #1a2236;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn:hover {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn:active {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border: 2px solid #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
